.g-title {
  grid-area: ttl;
}

.g-nav {
  grid-area: nav;
}

.g-portrait {
  grid-area: por;
}

.g-about {
  grid-area: abt;
}

.f-professional {
  flex: 33%;
}

.f-personal {
  flex: 33%;
}

.g-bio {
  grid-area: bio;
}

.g-cv-headline {
  grid-area: cvh;
}

.g-cv-content {
  grid-area: cvc;
}

.g-contact-headline {
  grid-area: coh;
}

.g-contact-content {
  grid-area: coc;
  display: flex;
}

.f-phone {
  flex: 25%;
  width: 40px;
}

.f-mail {
  flex: 25%;
}

.f-git {
  flex: 25%;
}

.f-pen {
  flex: 25%;
}

.all-g-wrapper {
  display: grid;
  grid-template-areas:
    'ttl'
    'nav'
    'por'
    'abt'
    'abw'
    'bio'
    'cvh'
    'cvc'
    'coh'
    'coc';
}

.about-f-wrapper {
  display: flex;
  grid-area: abw;
}

@media (min-width: 600px) {
}
