* {
  box-sizing: border-box;
}

:root {
  --primary: orange;
  --secondary: orange;
  --text: #ddd;
  --background: #222;
}

body {
  margin: 20px;
  background-color: var(--background);
  font-family: 'Raleway', sans-serif;
  font-size: 112.5%;
  font-weight: 300;
  line-height: 1.4;
  color: var(--text);
  text-align: left;
}

h1 {
  font-weight: 300;
  color: var(--primary);
  margin: 10px;
  text-align: right;
}

h2 {
  color: var(--secondary);
  font-weight: 300;
}

h3 {
  color: var(--secondary);
  font-weight: 300;
}

a {
  text-decoration: underline dotted 1px var(--secondary);
  color: var(--secondary);
}

input,
button,
textarea {
  font-size: inherit;
}

dt {
  font-weight: 300;
}

footer {
  text-align: center;
  margin-top: 50px;
}

.navi {
  font-weight: 300;
  color: var(--secondary);
  margin: -10px 10px 70px 10px;
  text-align: right;
}

.page-main {
  display: grid;
  grid-gap: 40px;
}

.italic {
  font-style: italic;
}
