* {
  box-sizing: border-box;
}

:root {
  --primary: crimson;
  --secondary: #666;
  --text: #999;
}

body {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 112.5%;
  line-height: 1.4;
  color: var(--text);
  margin: 0px;
  background-color: #eee;
}

a {
  text-decoration: underline solid 1px var(--primary);
  color: var(--secondary);
}

input,
button,
textarea {
  font-size: inherit;
}

.navi {
  font-weight: 300;
  color: var(--secondary);
  margin: -10px 10px 10px 10px;
  text-align: right;
}

h1 {
  font-weight: 700;
  color: var(--primary);
  margin: 10px;
  text-align: right;
}

h2 {
  color: var(--secondary);
  font-style: ;
}

.page-main {
  display: grid;
  grid-gap: 40px;
  place-items: center;
}
